/* * {
    margin: 0;
    padding: 0;
}


footer {
    padding: 10px;
    margin: 20px;
    text-align: center;
}

footer p {
    color: gray;
    display: inline-block;
    list-style: none;
    margin: 0 1%;
    font-weight: lighter;
    padding-top: 10px;
}

form {
    margin-top: 20px;
    padding: 20px;

}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: black;
}

input,
textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
}

.botonform {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
}

h1{
    padding-top: 20px;
}

.opcionesExplorar{
        padding: 10px;
    margin: 20px;
} */










@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;

}

.logo {
    width: 150px;
    cursor: pointer;
    margin-right: 30px;
}

header {
    padding: 10px 2%;
    border-bottom: 1px solid black;
}

.encabezado {
    background-color: white;
}

a {
    color: black;
    font-weight: bold;
}

.botonBuscar {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    color: #fff;
    background-color: #b88e2f;
}

.botonBuscar:hover {
    background-color: #84611a;
}


/* CSS DE INDEX.HTML */

/* BANNER */

@media (min-width: 400px) and (max-width: 900px) {


    #comprar {
        flex-direction: column;
        border: none;
    }

}


.banner {
    background-image: url("../img/Banner.png");
    background-size: cover;
    height: calc(100vh - 100px);
    padding: 50px;

}

/* Contenedor de Banner */

.contenedorBanner {
    border-radius: 4px;
    height: 600px;
    width: 500px;
    margin: 30px;
    padding: 20px;

    /* Centrado de forma simple */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 70px;
    margin-right: 70px;
    /******************************/
    /* ctrl + k + u */
    background-color: #fff3e3;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;


    max-width: 90%;
}

h1 {
    font-weight: bold;
    color: #b88e2f;
    font-size: 40px;
}

.botonComprarAhora {
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    padding: 20px 65px;
    font-weight: bold;
    border-radius: 4px;
    color: #fff;
    background-color: #b88e2f;
}


/*CARDS*/

h2 {
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    font-size: 24px;
}

.contenedorProductos {
    margin: 20px;
}

.card {
    border: none;
}

.productoImagen {
    object-fit: contain;
    cursor: pointer;
}

h5 {
    font-size: 16px;
    font-weight: bold;
}


/* CSS DE TIENDA.HTML */

.bannerTienda {
    background-image: url("../img/Banner\ tienda.png");
    background-size: cover;
    height: 400px;

}

.tituloTienda {
    text-align: center;
    padding-top: 160px;
}


.h1Muebles {
    color: black;
    font-weight: bold;
}

.productoMueble {
    margin: 45px;
}

.cardMueble {
    width: 450px;
}

.h2Mueble {
    margin-bottom: 40px;
    color: #b88e2f;
    font-weight: normal;
}


.botonComprar {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 50px;
    padding-left: 60px;
    padding-right: 60px;
    border: none;
    color: #fff;
    background-color: #b88e2f;
}

.botonComprar:hover {
    background-color: #84611a;
}
